* {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

.icon-bar {
    width: 100%;
    background-color: black;
    overflow: auto;
  }
  
  .icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }
  
  .icon-bar a:hover {
    background-color: cyan;
  }
  
  .active {
    background-color: cyan;
  }

header, main {
    width: 80%;
    margin: 0 auto;
    text-align: left; 
    padding-top: 20px;
}

h1 {
    color: blue;
    font-size: 24px;
    text-align: center; 
}

p {
    color: red;
    font-size: 18px;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

.image-container {
    border: 5px solid green;
    width: 510px;
    height:510px;
}

img:hover {
    animation: shake 1ms;
    animation-iteration-count: infinite;
  }

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.registration-form {
    margin-top: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: none; 
}

select.active {
    display: block; 
}


input[type="radio"] {
    margin-right: 10px;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; 
}

button:hover {
    background-color: #45a049;
}

button:first-child {
    background-color: #ccc; 
}
